{% extends 'base.html.twig' %}

{% block title %}Slurp'{% endblock %}

{% block body %}

{% endblock %}

{% block aside %}
    <aside>
    </aside>
{% endblock %}

{% block section %}
    <section id="question-container" class="question-card">
    </section>
{% endblock %}

{% block right %}
    <div class="right-container">
        <p>ici rigth</p>
    </div>
{% endblock %}

{% block bottom %}
    <div class="bottom-container">
        <div id="answer-container"></div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        async function next(timer) {
            const res = await fetch('{{ path("app_game_get_question")}}');
            if (!res.ok) {
                console.error('Erreur HTTP :', res.status);
                return;
            }
            const data = await res.json();

            if (data.finished) {
                alert('fin du jeu');
                return;
            }

            renderQuestion(data, timer);

        }
        let timer = 15000;
        next(timer)
        // 🕞
        function renderReponse(data){
            const questionContainer = document.getElementById('question-container');
            questionContainer.innerHTML = '';

            const category = document.createElement('span');
            category.classList.add('question-category');
            category.textContent = data.categorie;

            const timerElement = document.createElement('p');
            timerElement.textContent = "🕞0s";

            const response = document.createElement('h2');
            response.classList.add('question-title');
            response.textContent = "La réponse était :";

            const categorieTimer = document.createElement('div');
            categorieTimer.classList.add('categorie-timer');
            categorieTimer.append(category, timerElement);

            const answerContainer = document.createElement('div');
            answerContainer.classList.add('question-clue');

            const answerText = document.createElement('p');
            answerText.textContent = data.answer[0];
            answerContainer.appendChild(answerText);

            const headQuestion = document.createElement('div');
            headQuestion.classList.add('head-question');
            headQuestion.append(categorieTimer, response);

            questionContainer.append(headQuestion, answerContainer);
        }
        function renderQuestion(data, timer) {
            const questionContainer = document.getElementById('question-container');
            let seconde;
            seconde = parseFloat(timer / 1000) - 1;

            const answerContainer = document.getElementById('answer-container');
            questionContainer.innerHTML = '';
            answerContainer.innerHTML = '';

            // ----- Question -----

            const category = document.createElement('span');
            category.classList.add('question-category');
            category.textContent = data.categorie;

            const timerElement = document.createElement('p');
            timerElement.textContent = "🕞" + seconde + "s";

            const question = document.createElement('h2');
            question.classList.add('question-title');
            question.textContent = data.question;

            const categorieTimer = document.createElement('div');
            categorieTimer.classList.add('categorie-timer');
            categorieTimer.append(category, timerElement);

            const clueContainer = document.createElement('div');
            clueContainer.classList.add('question-clue');

            const headQuestion = document.createElement('div');
            headQuestion.classList.add('head-question');
            headQuestion.append(categorieTimer, question);

            // Texte
            if (data.indice.text) {
                const clueText = document.createElement('p');
                clueText.textContent = data.indice.text;
                clueContainer.appendChild(clueText);
            }

            // Média
            if (data.indice.path) {
                let media;

                switch (data.indice.type) {
                    case 'image':
                        media = document.createElement('img');
                        media.src = data.indice.path;
                        break;

                    case 'video':
                        media = document.createElement('video');
                        media.src = data.indice.path;
                        media.controls = true;
                        break;

                    case 'audio':
                        media = document.createElement('audio');
                        media.src = data.indice.path;
                        media.autoplay = true;
                        media.controls = false;
                        break;
                }

                if (media) {
                    media.classList.add('question-media');
                    clueContainer.appendChild(media);
                }
            }
            
            questionContainer.append(headQuestion, clueContainer);

            // ----- Réponse -----
            const input = document.createElement('input');
            input.type = 'text';
            input.placeholder = 'Votre réponse...';
            input.classList.add('answer-input');

            input.addEventListener('keydown', (e) => {
                if (e.key !== 'Enter') return;

                const value = input.value.trim().toLowerCase();

                const found = data.answer.some(
                    answer => answer.toLowerCase() === value
                );

                if (found) {
                    const success = document.createElement('div');
                    success.classList.add('answer-success');
                    success.textContent = 'Vous avez trouvé';

                    answerContainer.innerHTML = '';
                    answerContainer.appendChild(success);
                } else {
                    input.value = '';
                }
            });
            
            countdown = setInterval(function(){
                timerElement.textContent = "🕞" + seconde + "s";
                seconde--;
                if(seconde < 0){
                    clearInterval(countdown);
                    renderReponse(data);
                    setTimeout(() => {
                        next(timer);
                        }, "5000");
                }
            }, 1000)

            answerContainer.appendChild(input);
        }
    </script>
{% endblock %}