{% extends 'base.html.twig' %}

{% block title %}Slurp'{% endblock %}

{% block body %}

{% endblock %}

{% block aside %}
    <aside>
    </aside>
{% endblock %}

{% block section %}
    <section id="question-container" class="question-card">
        <div class="align-auto">
            <button id="play" class="btn-primary btn" data-timer="{{ timer }}">
                    Lancer la partie
            </button>
        </div>
    </section>
{% endblock %}

{% block right %}
    <div class="right-container">
    </div>
{% endblock %}

{% block bottom %}
    <div class="bottom-container">
        <div id="answer-container"></div>
    </div>
{% endblock %}

{% block javascript %}
<script>
window.ROUTES = {
    question: "{{ path('app_game_get_question') }}",
    result: "{{ path('app_game_result', { score: '__score__' }) }}"
};
</script>
{% endblock %}