<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_profile') }}">Profil</a></li>
        </ul>
        <ul>
            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        </ul>
    </nav>
</header>